a {color: #17e658;}
.home{
	border: 2px solid red;
	background: grey;
	width: 800px;
	cursor: pointer;
}
.home2{
	border: 2px solid red;
	background: grey;
	width: 800px;
	cursor: pointer;
}